* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}
   
html, body {
	margin: 0;
	height: 100%;
	position: relative;
	overflow: hidden;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.button-margin {
	margin-right: 2px;
}

.button-margin:hover {
	text-decoration: underline;
}

@media print {
	body * {
	  visibility: hidden;
	}
	#section-to-print, #section-to-print * {
	  visibility: visible;
	}
	#section-to-print {
	  position: relative;
	  left: 0;
	  top: 0;
	}
  }