{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="{{ profile.profile_photo }}" style="max-height:400px; max-width: 400px; border: 2px solid black;">
                </div>
                <div class="col-8" style="border: 2px solid black;">
                    <hr>
                    <div class="d-flex justify-content-center"><h4>{{ profile.name }}</h4></div>
                    <hr>
                    <div><span class="fw-bold">Date of birth:</span><span> {{ profile.birth_date }}</span></div>
                    <div><span class="fw-bold">Place of birth:</span><span> {{ profile.birth_place }}</span></div>
                    <div><span class="fw-bold">Height:</span><span> {{ profile.height }}</span> m</div>
                    <div><span class="fw-bold">Weight:</span><span> {{ profile.weight }} kgs</span></div>
                    <div><span class="fw-bold">Occupation:</span><span> {{ profile.occupation }}</span></div>
                    <div><span class="fw-bold">Interests:</span><span> {{ profile.interests }}</span></div>
                    <div><span class="fw-bold">About me:</span><span> {{ profile.about_me }}</span></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row h-100 justify-content-center">
                <div class="component">
                    <blockquote class="callout quote EN">
                        {{ random_quote.quote }}
                        <cite> - <b>{{ random_quote.author }}</b></cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
{% endblock %}