{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}
    <section>
        <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        Admin
                                    </h5>
                                    <h6>
                                        Student
                                    </h6>
                            <ul class="nav nav-tabs mt-5">
                                <li class="nav-item fw-bold" style="padding-left: 10px">
                                    About
                                </li>
                            </ul>
                        </div>
                        <div class="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Kshiti Ghelani</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>kshitighelani@gmail.com</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>123 456 7890</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Profession</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Web Developer and Designer</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
            </form>           
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row h-100 justify-content-center">
                <div class="component">
                    <blockquote class="callout quote EN">
                        {{ random_quote.quote }}
                        <cite> - <b>{{ random_quote.author }}</b></cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
{% endblock %}