{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}
{% block script %}
    <script src="{% static 'capstone/capstone.js' %}"></script>
{% endblock %}
    <section>
        <div class="container emp-profile">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{ profile.photo }}" style="max-height: 250px; max-width: 250px;" alt=""/>
                        <div class="file btn btn-lg btn-primary" onclick="openForm()">
                            Change Photo
                        </div>
                    </div>
                    <div style="display: none;" id="my-form">
                        <form method="post" action="{% url 'edit2' %}">
                            {% csrf_token %}
                            <input type="url" class="form-control" required id="photo-url" name="photo-url" placeholder="Photo URL" autocomplete="off" style="text-align: center;">
                            <input type="submit" class="btn btn-light col-12 mt-2 border-dark" value="Submit" onclick="openForm()">
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <form method="post" action="{% url 'edit' %}">
                        {% csrf_token %}
                        <div class="profile-head">
                                    <h5>
                                        {{ profile.user }}
                                    </h5>
                                    <h6 id="headProfession">
                                        {{ profile.profession }}
                                    </h6>
                                    <div class="col-12 d-flex justify-content-end">
                                        <div class="col-5 col-sm-4 col-md-8 col-lg-4">
                                            <input type="button" style="display: block;" onclick="editFunc()" class="profile-edit-btn" id="btnEdit" value="Edit Profile"/>
                                            <input type="submit" style="display: none;" onclick="save()" class="profile-edit-btn" id="btnSave" value="Save"/>
                                        </div>
                                    </div>
                            <ul class="nav nav-tabs mt-5">
                                <li class="nav-item fw-bold" style="padding-left: 10px">
                                    About
                                </li>
                            </ul>
                        </div>
                        <div class="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ profile.first_name }} {{ profile.last_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p style="display: block;" id="profileEmail">{{ user.email }}</p>
                                    <textarea class="mb-3" rows="1" id="editEmail" name="editEmail" style="display: none;">{{ user.email }}</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p style="display: block;" id="profilePhone">{{ profile.phone }}</p>
                                    <textarea class="mb-3" rows="1" id="editPhone" name="editPhone" style="display: none;">{{ profile.phone }}</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Profession</label>
                                </div>
                                <div class="col-md-6">
                                    <p style="display: block;" id="profileProfession">{{ profile.profession }}</p>
                                    <textarea rows="1" id="editProfession" name="editProfession" style="display: none;">{{ profile.profession }}</textarea>
                                </div>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
                     
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row h-100 justify-content-center">
                <div class="component">
                    <blockquote class="callout quote EN">
                        {{ random_quote.quote }}
                        <cite> - <b>{{ random_quote.author }}</b></cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
{% endblock %}