{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}

    <div class="container" style="height: 84vh;">
        <div class="row" style="position: relative;">
            <div class="col-8 d-flex center">
                <div class="align-self-center">
                    <div>
                        <h3>Coach in Air Quotes</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae ex blanditiis enim maiores illum, vitae quidem dolor iusto debitis doloribus saepe fugiat! Officia deleniti consequuntur aspernatur cumque atque ipsam amet.</p>
                        <img src="{% static 'capstone/images/muscle.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-4 center">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <form action="" class="form-container" method="post">
                                <div class="form-group">
                                <input type="text" class="form-control" required id="username" name="username" placeholder="Username" autocomplete="off">
                                </div>
                                <div class="form-group">
                                <input type="password" class="form-control" required id="password" name="password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-light col-12 mt-2 border-dark">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}