{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}
{% block script %}
    <script src="{% static 'capstone/capstone.js' %}"></script>
{% endblock %}
    {% if message %}
    <div class="d-flex justify-content-center bg-danger" style="color: white;">{{ message }}</div>
    {% endif %}
    <div class="container" style="height: 84vh;">
        <div class="row h-100">
            <div class="col-8 my-auto">
                <div>
                    <hr>
                    <h3 class="d-flex justify-content-center">Coach in Air Quotes</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae ex blanditiis enim maiores illum, vitae quidem dolor iusto debitis doloribus saepe fugiat! Officia deleniti consequuntur aspernatur cumque atque ipsam amet.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae ex blanditiis enim maiores illum, vitae quidem dolor iusto debitis doloribus saepe fugiat! Officia deleniti consequuntur aspernatur cumque atque ipsam amet.</p>
                    <div class="d-flex justify-content-center">
                        <img cla src="{% static 'capstone/images/couple.png' %}" width="300px";object-fit: cover;">
                    </div>
                </div>
            </div>
            <div class="col-4 my-auto" id="login" style="display: none;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h4>Login</h4>
                            
                            <form action="{% url 'login' %}" class="form-container" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                <input type="text" class="form-control" required id="username" name="username" placeholder="Username" autocomplete="off">
                                </div>
                                <div class="form-group">
                                <input type="password" class="form-control" required id="password" name="password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-light col-12 mt-2 border-dark">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 my-auto" id="register" style="display: none;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h4>Register</h4>
                            <form action="{% url 'register' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group mt-4">
                                    <input class="form-control" autocomplete="off" autofocus type="text" name="username" placeholder="Username">
                                </div>
                                <div class="form-group mt-1">
                                    <input class="form-control" autocomplete="off" type="text" name="first_name" placeholder="Name">
                                </div>
                                <div class="form-group mt-1">
                                    <input class="form-control" autocomplete="off" type="text" name="last_name" placeholder="Surname">
                                </div>
                                <div class="form-group mt-1">
                                    <input class="form-control" autocomplete="off" type="text" name="profession" placeholder="Profession">
                                </div>
                                <div class="form-group mt-1">
                                    <input class="form-control" autocomplete="off" type="number" name="phone" placeholder="Phone">
                                </div>
                                <div class="form-group mt-1">
                                    <input class="form-control" autocomplete="off" type="date" name="birth-date" placeholder="Birth Date">
                                </div>
                                <div class="form-group mt-1">
                                    <input class="form-control" autocomplete="off" type="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="form-group mt-1">
                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                                </div>
                                <input class="btn btn-light col-12 mt-2 border-dark" type="submit" value="Register">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 my-auto" id="index" style="display: block;">
                <div>
                    <img src="{% static 'capstone/images/workhard.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>
{% endblock %}