{% extends 'capstone/layout.html' %}
{% load static %}
{% block body %}
{% block script %}
    <script src="{% static 'capstone/capstone.js' %}"></script>
{% endblock %}
    <section id="calculator">
        <div class="container" style="height: 84vh">
            <div class="row h-100 justify-content-center">
                <div class="col-4 my-auto">
                    <form action="{% url 'results' %}" class="form-home" method="POST">
                        {% csrf_token %}
                        <div>
                            <hr>
                            <h4 style="text-align: center;">Cheat Meal Calculator</h4>
                            <hr>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="food" required autocomplete="off" name="food" placeholder="What do you want to eat?">
                            <input type="number" class="form-control mt-1" id="calories" required autocomplete="off" name="calories" placeholder="How many calories does it have in it?">
                            <input type="number" class="form-control mt-1" id="weight" required autocomplete="off" name="weight" placeholder="What is your current weight in kg?">
                        <div class="form-group">
                            <button type="submit" name="button" id="calculate" class="btn btn-light col-12 mt-2 border-dark">Calculate!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}