{% extends 'capstone/layout.html' %}
{% load static %}
{% block body %}
{% block script %}
    <script src="{% static 'capstone/capstone.js' %}"></script>
{% endblock %}
<section id="section-to-print" class="mt-4">
    <div class="container">
        <div class="row h-100 justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6 my-auto">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Repetitions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exercise in workout_list %}
                        <tr>
                            <td onclick="openWindow('{{ exercise }}')">
                                {{ exercise }}
                            </td>
                            {% if workout_list|length == 5 or workout_list|length == 6 %}
                            <td>
                                4x8
                            </td>
                            {% elif workout_list|length == 8 or workout_list|length == 7 %}
                            <td>
                                3x8
                            </td>
                            {% elif workout_list|length == 9 %}
                            <td>
                                2x8
                            </td>
                            {% elif workout_list|length > 4 %}
                            <td>
                                1x8
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="col text-center">
                    <button class="btn btn-light col-2 mt-2 border-dark" onclick="printFunc()">Print</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}