{% extends 'capstone/layout.html' %}
{% load static %}
{% block body %}
{% block script %}
    <script src="{% static 'capstone/capstone.js' %}"></script>
{% endblock %}
    <section class="mt-4">
        <div class="container">
            <div class="row h-100 justify-content-center">
                <div class="col-sm-8 col-md-8 col-lg-6 my-auto">
                    <h3>Workout Generator</h3>
                    <form action="{% url 'workoutGenerator' %}" class="form-check" method="POST">
                        {% csrf_token %}
                        <input class="form-check-input" type="checkbox" id="chest" name="workout" value="chest">
                        <label for="chest">Chest</label><br>
                        <input class="form-check-input" type="checkbox" id="back" name="workout" value="back">
                        <label for="back">Back</label><br>
                        <input class="form-check-input" type="checkbox" id="biceps" name="workout" value="biceps">
                        <label for="arms">Biceps</label><br>
                        <input class="form-check-input" type="checkbox" id="triceps" name="workout" value="triceps">
                        <label for="arms">Triceps</label><br>
                        <input class="form-check-input" type="checkbox" id="abdominals" name="workout" value="abdominals">
                        <label for="abdominals">Abdominals</label><br>
                        <input class="form-check-input" type="checkbox" id="legs" name="workout" value="legs">
                        <label for="legs">Legs</label><br>
                        <input class="form-check-input" type="checkbox" id="shoulders" name="workout" value="shoulders">
                        <label for="shoulders">Shoulders</label><br>
                        <button type="submit" class="btn btn-light col-12 mt-2 border-dark">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
